@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bangers', cursive;
  background-color: #fff;
}

.title-container {
}

.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: block;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 5vw;
  letter-spacing: 5px;
  padding: .5em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: #fff;
  color: #000;
  clip-path: inset( -1% -1% 50% -1%);
}

/* Loader */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query: Large Smartphone (less than 600px) */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 5vw;
  }

  .image-container {
    margin: 10px;
  }
}